Server/plant_disease_model_1_latest.pt filter=lfs diff=lfs merge=lfs -text
Server/disease_info.csv filter=lfs diff=lfs merge=lfs -text
Server/supplement_info.csv filter=lfs diff=lfs merge=lfs -text
